@model List<Address>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="topnav" style="margin-bottom:20px;">
    <div class="row align-items-center">
        <div class="col-auto" style="margin-left: 14px;">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="col text-center" style="padding-right:57px;">
            <p style=" font-size:large;"class="text-xl-center">My address</p>
        </div>
    </div>
</div

<div class="align-content-center" style="margin-bottom: 55px;">
     <div class="center-content">
@foreach (var address in Model)
{
    <div class="row" style="margin-top: -2px; margin-bottom: 7px;">
        <div class="col-auto" style="margin-top: 6px; margin-left:26px;">
            <i class="fa-regular fa-house fa-lg" style="vertical-align: middle;"></i>
        </div>
        <div class="col" style="margin-left:5px; ">
            <p class="text-black text-start" style="margin: 0;">@address.Type</p>
            <p class="text-muted text-sm text-start" style="margin: 0; text-overflow: ellipsis;">@address.PostalCode @address.StreetName, @address.City</p>
        </div>
        <div class="col-auto" style="margin-top: 6px;  margin-right:26px;">
            <a asp-controller="MyAddress" asp-action="EditAddress" asp-route-id="@address.Id">
        <i class="fa-regular fa-pen-line fa-sm" style="vertical-align: middle; color:black;"></i>
</a>
        </div>
        <hr style="margin-top:17px;" />
    </div>
}
    </div>
    
    <div style="text-align:center; margin-top: 11px; margin-bottom: 5px;"class="col-12 d-flex justify-content-center">
        <a style="color:black;text-decoration:none;" href="/MyAddress/AddAddress"<i class="fa-sharp fa-regular fa-plus"></i></a>
    </div>
            <p style="text-align:center;">Add new adress</p>
</div>

        <style>    

            .align-content-center {
    text-align: center;
}
                .center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    </style>