@model CollectionDetailViewModel

<section class="detail-section">
    <div class="container">
        <h2>@Model.Title</h2>
        <div class="product-image">
            <img src="~/images/270x295.svg" alt="Detailpage">
        </div>
        
        @if (Model.BestSellers != null)
        {
            <h4>@Model.BestSellers.BestItems.FirstOrDefault()?.Title</h4>
            <div class="product-description">
                @Model.BestSellers.BestItems.FirstOrDefault()?.Description
        </div>
            <div class="product-price">$@Model.BestSellers.BestItems.FirstOrDefault()?.Price</div>

        }
        else if (Model.FeaturedProducts != null)
        {
             <h4>@Model.FeaturedProducts.FeaturedItems.FirstOrDefault()?.Title</h4>
            <div class="product-description">
                @Model.FeaturedProducts.FeaturedItems.FirstOrDefault()?.Description
            </div>
            <div class="product-price">$@Model.FeaturedProducts.FeaturedItems.FirstOrDefault()?.Price</div>
        }
    </div>
</section>
