@model ServiceResponse<UserViewModel>

<section class="Edit-section">
    <div class="container Edit-container">
        <div class="row">
            <div class="col-12 Edit-welcome-div">
                <h1 class="Edit-title">
                    Edit Profile
                </h1>

                <div class="Circle-container">
                    <div class="rounded-circle"></div>
                </div>    

                <form method="post" class="Edit-Form" novalidate>
                    <div class="Edit-input-div col-12 mb-3 d-flex justify-content-center">
                        <input asp-for="@Model.Content!.FirstName" type="tel" class="form-control Edit-input" id="firstname" oninput="validateFirstName()" value="@Model.Content!.FirstName" />
                        <i class="fas fa-xmark Edit-input-check firstname-check"></i>
                        <p class="Edit-input-text">First name</p>
                    </div>
                    <div class="Edit-input-div col-12 mb-3 d-flex justify-content-center">
                        <input asp-for="@Model.Content.LastName" type="tel" class="form-control Edit-input" id="lastname" oninput="validateLastName()" value="@Model.Content!.LastName" />
                        <i class="fas fa-xmark Edit-input-check lastname-check"></i>
                        <p class="Edit-input-text">Last name</p>
                    </div>
                    <div class="Edit-input-div col-12 mb-3 d-flex justify-content-center">
                        <input asp-for="@Model.Content!.Email" type="tel" class="form-control Edit-input" id="email" oninput="validateEmail()" value="@Model.Content!.Email" />
                        <i class="fas fa-xmark Edit-input-check email-check"></i>
                        <p class="Edit-input-text">Email</p>
                    </div>
                    <div class="Edit-input-div col-12 mb-3 d-flex justify-content-center">
                        <input asp-for="@Model.Content!.PhoneNumber" type="tel" class="form-control Edit-input" id="rr-number" oninput="PhoneNumber()" value="@Model.Content!.PhoneNumber" />
                        <i class="fas fa-xmark Edit-input-check rr-phone-check"></i>
                        <p class="Edit-input-text">Phone number</p>
                    </div>
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <a class="edit-change-pw" asp-controller="account" asp-action="newpassword">
                            Change password <i class="fa-light fa-lock-open"></i>
                        </a>
                    </div>

                    <div class="mb-4">
                        <button type="submit" class="Edit-send-btn col-6">
                            Save Changes
                        </button>
                    </div>
                </form>
 
            </div>
        </div>
    </div>
</section>